.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 300px;
}

.modal-header {
    margin-bottom: 20px;
}

.purchase-options {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 10px;
    cursor: pointer;
}

.option {
    flex: 1;
    text-align: center;
    border-right: 1px solid #ccc;
    padding: 10px;
}

.option:last-child {
    border-right: none;
}

.input-container {
    margin-bottom: 20px;
}

input[type="number"] {
    width: 100%;
    padding: 5px;
    font-size: 16px;
}

.modal-overlay button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
