/* src/components/Footer.css */

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #0e0f0d;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.footer nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.footer nav ul li {
    margin: 0 15px;
}

.footer nav ul li a {
    color: rgb(227, 171, 171);
    text-decoration: none;
    font-family: cursive;
    font-weight: bolder;
    transition: all 200ms ease-in;
    padding: 10px;
}

.footer nav ul li a:hover {
    background-color: rgb(164, 164, 111);
    color: #282e23;
}
