* {
    margin: 0;
    padding: 0;
}

.mines-page {
    text-align: center;
    background-color: #1a2c38;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    position: relative;
}

.board {
    display: grid;
    grid-template-columns: repeat(5, 16vw); /* Adjust according to the board size */
    gap: 7px;
}

.cell {
    width: 16vw;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #2f4553;
    font-size: 300%;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 7px;
}

.cell.revealed {
    background-color: #ddd;
    cursor: default;
    color: #000;
}

.cell.mine.revealed {
    background-color: #e74c3c;
    color: #2f4553;
}

.cell:hover:not(.revealed) {
    background-color: #5d85bc;
    transform: scale(1.1);
    cursor: pointer;
}

.game-over {
    margin-top: 20px;
    font-size: 24px;
    color: red;
    font-weight: bold;
}

.options {
    margin-bottom: 20px;
}

.option {
    margin-bottom: 10px;
}

.option label {
    display: block;
    margin-bottom: 5px;
    color: rgb(202, 188, 188);
    font-weight: bolder;
    margin-top: 10px;
}

.option input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: rgb(15 33 46);
    color: white;
    max-width: 100%;
}

.option input[type="number"]:focus {
    border-color: #007bff;
}

.place-bet-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.place-bet-btn:hover {
    background-color: #0056b3;
}

.sliderContainer {
    background-color: #007bff;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: linear-gradient(to right, #007bff 0%, #007bff var(--value), #d3d3d3 var(--value), #d3d3d3 100%);
    outline: none;
    opacity: 0.7;
    transition: background 0.2s, opacity 0.2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 50px;
    height: 50px;
    background: url('/public/images/slidebarMine.png'); /* Replace 'thumb.png' with the path to your thumb image */
    background-size: cover;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 30px;
    height: 30px;
    background: url('/public/images/slidebarMine.png'); /* Replace 'thumb.png' with the path to your thumb image */
    cursor: pointer;
}

.start-btn {
    background-color: #00ff00; /* Bright green background */
    color: #000; /* Black text */
    border: none;
    border-radius: 10px; /* Rounded corners */
    padding: 15px 30px; /* Padding for a larger button */
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin: 25px 0; /* Add margin for spacing */
}

.start-btn:hover {
    background-color: #00cc00; /* Darker green on hover */
    transform: scale(1.05); /* Slightly larger on hover */
}

.start-btn:active {
    background-color: #009900; /* Even darker green when active */
    transform: scale(0.95); /* Slightly smaller when clicked */
}

.profitBox{
    display: none;
}

.cashout-box {
    width: calc(5vw + 10vh);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border: 2px solid #28a745;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.cashout-box .multiplier {
    font-size: 24px;
    font-weight: bold;
    color: #623bff;
    margin-bottom: 10px;
}

.cashout-box .profit {
    font-size: 18px;
    color: #c64444;
}
.cashout-box button{
    margin-top: 10px;
        background-color: rgb(56, 184, 30);
        font-size: 200%;
        font-weight: bolder;
        font-family: monospace;
        min-width: 50px;
        min-height: 20px;
        color: rgb(255, 255, 255);
        border: none;
        cursor: pointer;
        border-radius: 10%;
}

.cashout-box button:hover{
    background-color: rgb(221, 79, 32);
    color: black;
}


@media only screen and (min-width: 400px) {
    .board{
    grid-template-columns: repeat(5, 70px); /* Adjust according to the board size */
    }
    .cell{
        width: 70px;
    }
  }


  label{
    position: relative;
    min-width: max-content;
  }

  .betMinMax{
    border: none;
    padding: 4px;
    font-family: sans-serif;
    background-color: greenyellow;
    border-radius: 4px;
    position: absolute;
    bottom: 2px;
    right: -21px;
    cursor: pointer;
    min-height: 60%;
    aspect-ratio: 1;
    border: 1px solid black;
}

.Min{
    right: 20px;
}

.betMinMax:hover{
    background-color: rgb(40, 212, 40);
}